<div class="text-sm text-gray-500">
  <div class="h-[117px] w-[117px] rounded-[10px] bg-[#808080] relative">
    <div
      class="w-[90%] absolute left-1/2 transform -translate-x-1/2 h-[5px] bg-gray-400 rounded-lg my-1 bottom-1"
    >
      <div class="bg-white rounded-lg w-[40px] h-full"></div>
    </div>
  </div>
  <div class="flex justify-between items-center">
    <div class="p-1 w-[60%]">
      <p class="whitespace-nowrap truncate w-[116px]">{{ cardData.title }}</p>
      <p>Episode {{ cardData.episode }}</p>
    </div>
    <button>
      <img src="assets/images/icons/dot_vertical.svg" />
    </button>
  </div>
</div>
