<div class="w-[90vw] my-5 h-[216px] flex mr-1">
  <div class="w-[144px] h-full bg-[#C4C4C4] rounded-[10px] relative">
    <div *ngIf="bookData.isNew">
      <app-badge badgeText="NEW BADGE" />
    </div>
  </div>
  <div class="p-5">
    <div class="mb-12">
      <h1 class="font-bold text-[60px]">{{ bookData.rank }}</h1>
    </div>
    <div>
      <div class="flex">
        <div
          *ngFor="let catgeory of bookData.categories; let last = last"
          class="text-xs"
        >
          {{ catgeory }}
          <span *ngIf="!last" class="mx-1"> . </span>
        </div>
      </div>
      <div class="my-2">
        <p class="text-gray-400 w-[80%] text-xs">{{ bookData.title }}</p>
      </div>
      <div class="my-4 flex">
        <img
          src="assets/images/icons/Eye.png"
          alt="eye icon"
          class="mr-2 size-[15px]"
        />
        <span class="text-xs text-gray-400">{{ bookData.views }}k</span>
      </div>
    </div>
  </div>
</div>
