<section class="bg-black">
  <!--Header section-->
  <app-header></app-header>

  <!-- Start Recommended section-->
  <card-section sectionTitle="{{ sections.recommended }}" />
  <!-- End Recommended section-->

  <!--Start Resume Reading section-->
  <div class="pl-5 py-3 border-b-0 border-t-0">
    <h1 class="text-[25px] text-white">Resume Reading</h1>
    <div class="py-3 relative text-white overflow-x-auto hide-scroll-bar">
      <div class="inline-flex gap-3">
        <resume-reading-card
          *ngFor="let data of resumeReadingData"
          [cardData]="data"
        ></resume-reading-card>
        <div class="h-[117px] flex flex-col justify-center items-center">
          <div class="flex flex-col">
            <button
              class="mx-10 bg-gray-500 whitespace-nowrap flex-col h-[40px] w-[40px] rounded-full flex justify-center items-center"
            >
              <img
                src="assets/images/icons/thin_big_right.svg"
                alt="arrow right"
              />
            </button>
            <p class="my-2 w-full mx-auto text-center text-gray-500">see all</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--End Resume Reading section-->

  <!-- Start Extra section-->
  <div class="pl-5 py-2 pr-5">
    <h1 class="text-[25px] text-white">Extra</h1>
    <div class="py-3 relative text-white overflow-x-auto hide-scroll-bar">
      <div class="inline-flex gap-3">
        <extra-section-card
          *ngFor="let book of extraSectionData"
          [cardData]="book"
        ></extra-section-card>
      </div>
    </div>
  </div>
  <!-- End Extra section-->

  <!-- Start here section-->
  <card-section sectionTitle="{{ sections.start }}" />
  <!-- End of start here section-->

  <!-- Start Zebra kids section-->
  <div class="pl-5 py-2">
    <h1 class="text-[25px] text-white">Zebra kids</h1>
    <div class="py-3 relative text-white overflow-x-auto hide-scroll-bar">
      <div class="inline-flex gap-3 mr-8">
        <zebrakids-card
          *ngFor="let book of zebraKidsCardData"
          [cardData]="book"
        ></zebrakids-card>
      </div>
    </div>
  </div>
  <!-- End of Zebra kids section-->

  <!-- Start Romance section-->
  <card-section sectionTitle="{{ sections.romance }}" />
  <!-- End of Romance section-->

  <!-- Start Afro section-->
  <card-section sectionTitle="{{ sections.afro }}" />
  <!-- End of fro section-->

  <!--Start Zebra Exclusive section-->
  <div class="pl-5 py-2">
    <h1 class="text-[25px] text-white">{{ sections.exclusive }}</h1>
    <div class="py-3 relative text-white overflow-x-auto hide-scroll-bar">
      <div class="inline-flex gap-3 mr-8">
        <zebrakids-card
          *ngFor="let book of zebraKidsCardData"
          [cardData]="book"
        ></zebrakids-card>
      </div>
    </div>
  </div>
  <!--End Zebra Exclusive section-->

  <!--Start top series section-->
  <div class="pl-5 py-2">
    <h1 class="text-[25px] text-white">{{ sections.topSeries }}</h1>
    <div class="relative flex text-white overflow-x-auto hide-scroll-bar">
      <div>
        <h5 class="text-gray-400 py-3 text-sm">ACTION</h5>
        <top-series-card
          *ngFor="let book of topSeriesCol1Data"
          [bookData]="book"
        />
      </div>
      <div>
        <h5 class="text-gray-400 py-3 text-sm">ROMANCE</h5>
        <top-series-card
          *ngFor="let book of topSeriesCol2Data"
          [bookData]="book"
        />
      </div>
    </div>
  </div>

  <!--End  top series section-->

  <!--Start trending section-->
  <div class="pl-5 py-2 bg-gradient-to-r from-[#00000000] to-[#191919]">
    <h1 class="text-[25px] text-white">{{ sections.trending }}</h1>
    <div class="relative flex text-white overflow-x-auto hide-scroll-bar">
      <trending-card *ngFor="let book of trendingTodayData" [bookData]="book" />
    </div>
  </div>
  <!--End trending section-->

  <!--Start of Adventure section-->
  <card-section sectionTitle="{{ sections.adventure }}" />
  <!--End of Adventure section-->

  <!--Start New release Section-->
  <div
    class="rounded-[10px] w-[90vw] h-[480px] mb-5 container px-5 mx-auto py-2 relative"
  >
    <div class="overlay"></div>
    <div class="absolute top-2 left-2 text-white p-3">
      <h3 class="mb-2">New release</h3>
      <div class="flex space-x-2 items-center">
        <div class="bg-white rounded-lg w-[60px] h-[6px]"></div>
        <div class="bg-white rounded-lg w-[60px] h-[6px]"></div>
        <div class="w-[60px] bg-gray-300 h-[6px] rounded-lg">
          <div class="bg-white rounded-lg w-[40%] h-full"></div>
        </div>
      </div>
    </div>
    <div class="absolute bottom-5 text-white left-3">
      <div
        class="bg-[#BD0002] rounded-[5px] py-[3px] px-[4px] text-[10px] w-[83px]"
      >
        COMING SOON
      </div>
      <div class="w-[197px] h-[59px] my-2">
        <img src="assets/images/image-1.png" class="h-full w-dull" />
      </div>
      <div>
        <p class="text-[12px]">Acton . Comedy. Family</p>
        <p class="text-xs my w-[90%]">
          This is the comic synopsis which is clickable to open more details
          about it. Let’s ad...
        </p>
      </div>
    </div>
  </div>
  <!--End New release Section-->

  <!--Start Teen Section-->
  <card-section sectionTitle="{{ sections.teen }}" />
  <!--EndTeen Section-->

  <!--Start Slice of Life Section-->
  <card-section sectionTitle="{{ sections.sliceOfLife }}" />
  <!--End Slice of Life Section-->

  <!--Start Genres section-->
  <div class="pl-5 py-2">
    <h1 class="text-[20px] text-white">{{ sections.genres }}</h1>
    <p class="my-3 text-sm text-gray-500">Explore your favourite genres</p>

    <div class="text-white">
      <!-- Grid container for the cards -->
      <div class="flex overflow-x-auto hide-scroll-bar mr-4">
        <!-- Wrapper for the cards -->
        <div class="flex flex-row gap-3">
          <!-- First set of cards (2 up, 2 down) -->
          <div
            class="flex flex-col gap-3"
            *ngFor="let chunk of nextedBookGenreArray"
          >
            <div
              class="relative p-4 w-[168px] h-[93px] rounded-[15px]"
              *ngFor="let card of chunk"
              [style.background-image]="'url(' + card.img + ')'"
            >
              <div
                class="absolute top-0 left-0 w-full h-full bg-gradient-to-bl from-[#3800] to-[#48002D] opacity-70"
              ></div>
              <p class="absolute bottom-2 left-2 text-base">
                {{ card.title }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--End Genre section-->
  <!--Start Share APP Button-->
  <div class="w-full px-6 py-[70px] flex justify-center">
    <button class="w-[119px] h-[42px] rounded-[10px] bg-white">
      share app
    </button>
  </div>
  <!--End Share APP Button-->
</section>
